.trigger-editor {
  padding: 10px 10px 30px 10px;
}

.effect-delete-button {
  visibility: hidden;
}

.trigger-editor-name input {
  font-size: 24px;
  font-weight: bold;
}

.effect-header:hover .effect-delete-button {
  visibility: visible;
}

.trigger-editor::-webkit-scrollbar {
  width: 12px;
}

.trigger-editor::-webkit-scrollbar-track {
  background: #fefefe;
}

.trigger-editor::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0;
}

.trigger-editor::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.effect-name {
  font-weight: bold;
}

p.trigger-editor-info {
  color: #555;
  margin-top: 0;
  margin-bottom: 25px;
}

.trigger-tags-header {
  margin-bottom: 5px;
}
