#main-scrollable::-webkit-scrollbar {
  width: 12px;
}

#main-scrollable::-webkit-scrollbar-track {
  background: #fefefe;
}

#main-scrollable::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0;
}

#main-scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}
