.view-trigger-group-name {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul.view-trigger-group-sublist {
  margin: 0 0 0 15px;
  padding: 0;
}

li.view-trigger-list-item {
  list-style: none;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
}

.view-trigger-list-item-name {
  text-decoration: none;
  color: black;
}

.view-trigger-list-item-name:active {
  text-decoration: underline;
  cursor: pointer;
}

li.view-trigger-list-item-currently-editing {
  background-color: #eee;
  font-weight: bold;
}

li.view-trigger-list-item-context-menu-open {
  font-style: italic;
  border-bottom: 1px dotted black;
  /* text-decoration: underline;
  text-decoration-style: dotted; */
}

li.view-trigger-list-item span {
  cursor: context-menu;
}

.toggle-trigger-tag-inclusion-switch {
}
