@import "./base.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-style: normal;
    cursor: default;
    user-select: none;
}

h1 {
    @include font-jacquard;
    font-size: 3.9rem;
    &.title {
        letter-spacing: -0.2rem;
        text-align: center;
        margin: 0;
    }
}

h2 {
    @include font-space-grotesk;
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
}
h3 {
    @include font-space-grotesk;
    font-size: 2.2rem;
    letter-spacing: -0.05rem;
}

p {
    @include font-space-grotesk;
}
