.countdown {
  --countdown-height: 25px;
  height: var(--countdown-height);
  width: 100%;
  padding: 0;
  position: relative;
  pointer-events: none;
  border: 1px solid black;
  box-sizing: border-box;
}

.countdown p {
  --text-outline-color: black;

  line-height: var(--countdown-height);
  font-size: calc(var(--countdown-height) * 0.7);
  display: flex;

  position: absolute;
  top: -1px;
  bottom: 0;
  left: 8px;
  right: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  text-wrap: nowrap;
  font-weight: 600;
  /* text-transform: uppercase; */
}

.countdown.countdown-animation-warning {
  /* animation-duration is set in the style attr */
  animation-name: warning-background-color;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.countdown .countdown-animation-remaining {
  /* animation-duration is set in the style attr */
  /* width is set in the style attr */
  width: var(--start-percent);
  height: 100%;
  background: linear-gradient(
    to left,
    darkslateblue,
    dodgerblue,
    skyblue,
    dodgerblue,
    darkslateblue
  );
  animation-name: shrink-width;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes shrink-width {
  from {
    width: var(--start-percent);
  }
  to {
    width: 0%;
  }
}

@keyframes warning-background-color {
  0% {
    background-color: palegoldenrod;
  }
  50% {
    background-color: orange;
  }
  85% {
    background-color: red;
  }
  100% {
    background-color: #c00;
  }
}
