:root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, Arial, 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.MuiButtonBase-root * {
  cursor: pointer;
}

span.emoji {
  /* font-family: 'Apple Color Emoji'; */
  text-shadow: 0 0 2px black; /*, 0 0 5px white; */
}
