:root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
}

* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.MuiButtonBase-root * {
  cursor: pointer;
}

span.emoji {
  font-family: 'Apple Color Emoji';
  text-shadow:
    0 0 1px black,
    0 0 5px white;
}

@font-face {
  font-family: 'Jacquard_12';
  src: url('/fonts/Jacquard_12/Jacquard12-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'UnifrakturMaguntia';
  src: url('/fonts/UnifrakturMaguntia/UnifrakturMaguntia-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/
